In [15]:
def sum(a,b):
    sum= a+b
    print(sum)
    return sum
sum(1,7)

8

8

In [21]:
def mul(a=4, b=4):
    print(a*b)
    return a*b
mul()

16

16

In [23]:
number=[1,3,4,5,6,7]
def num_len(n):
    print(len(n))
num_len(number)

6

In [37]:
cities=['pune','mumbai','bhilwara']
def city(n):
    for i in n:
        print(i,end=' ')
city(cities)

pune mumbai bhilwara

In [41]:
n=5
fact=1
for i in range(1,n+1):
    fact=fact*i
fact

120

In [43]:
def fact(n):
    fact=1
    for i in range(1,n+1):
        fact=fact*i
    print(fact)
fact(5)

120

In [ ]:
# input if odd return sttring odd , if num is even return string even